body {
    background-color: rgb(230, 236, 240);
}

form {
    padding: 10px;
    line-height: 10px
}

main {
    width: 200px;
    height: 200px;
    padding: 10px;
    background: beige;
}

.imgcontainer {
    text-align: center;
    /*border-radius: 500%;*/
    margin: 20px 12px;
}

p {
    font-family: Open Sans;
    color: black;
    border-bottom: 1.50px solid black;
    font-family: cursive;
    color: black;
}

button {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    width: 100px;
    height: 25px;
}

button:hover {
    opacity: 0.52;
}